/*css del footer*/
.footerStyle {
    background-color: darkgrey; }
    .footerStyle .logoFooter {
      width: 150px; }
    .footerStyle .pFooter, .footerStyle .h4Footer {
      color: #EAF6F6; }
    .footerStyle .h4Footer {
      font-size: 20px;
      font-weight: bolder; }
    .footerStyle .iconInstagram,.footerStyle .iconFacebook,.footerStyle .iconWhatsapp {
      color: red;
      font-size: 35px;
      padding: 10px 10px; }
      .footerStyle .iconInstagram:hover,.footerStyle .iconFacebook:hover,.footerStyle .iconWhatsapp:hover {
        color: #EAF6F6;
        transition: 300ms linear; }
    .footerStyle .iconWhatsapp {
      color: green; }
    .footerStyle .iconFacebook {
      color: blue;  }
    .footerStyle .copy {
      border-top: black dotted 1px;
      padding-top: 1%;
      margin-bottom: 0; }