.encabezado{
    grid-area: header;
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
}

.encabezado nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: darkgrey;
    gap: 20px;
}

.encabezado nav img{
    width: 10%;
}

.navegador{
    display: flex;
    list-style: none;
    gap: 20px;
}

.navegador li a{
    text-decoration: none;
    font-size: 1.8rem;
    color: brown;
}