/*main ubicacion*/
main{
    display: flex;
    grid-area: main;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: map-get($colores,color_menu);  
}

.ubicacion{
    .podes_encontrarnos{
        display: flex;
        flex-direction: column;
        font-family: $tipografia-principal;
        font-style: map-get($size,comun);
        font-size: 50px;
        font-weight: map-get($size,general);
        position: relative;
        text-align: center;
        color: forestgreen;
    }
}