/*margin y padding 0*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_grid{
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header"
                         "main" 
                         "footer";
    grid-template-columns: auto; 
    grid-template-rows:auto;                    
}

.container2_grid{
    @extend .container_grid;                 
}

/* colores */
$color-primario: darkgrey;
$color-secundario: beige;
$color-texto-header: brown;

/*tipografia*/
$tipografia-principal: 'Roboto', sans-serif;
$tipografia-secundaria: 'Poppins', sans-serif;
$tipografia-estilo: normal;
$tipografia-peso-general: bold;
$tipografia-peso-particular: bolder;
