* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
  color: black; }

a {
  text-decoration: none; }

.bigText {
  font-size: 80px; }

.smallText, .smallTitlePages {
  font-size: 30px;
  padding: 2% 0; }

.smallTitlePages {
  font-size: 32px;
  padding: 0; }

.cardText {
  font-size: 22px; }

.blueText {
  color: #7f94ff;
  font-size: 35px; }

.greenText {
  color: green;
  font-size: 35px; }

.redText {
  color: red;
  font-size: 35px; }

.indigoText {
  color: indigo;
  font-size: 35px; }

.orangeText {
  color: orange; }

.brownText {
  color: brown; }  

.whiteText {
  color: white; }

.textStyle {
  font-weight: bolder;
  text-align: center; }

.pagesParagraph {
  text-align: center;
  padding: 1% 0; }

.imagesSize {
  height: 600px;
  width: 500px; }

/*tipografia*/
$tipografia-principal: 'Poppins', sans-serif;
$tipografia-estilo: normal;
$tipografia-peso-general: bold;
$tipografia-peso-particular: bolder;

/*mapa*/
$colores:(
    color_inicial:rgb(233, 233, 121),
    color_final: darkgrey,
    color_menu: beige,
    color_letras_inicial: rgb(62, 11, 110)
);

$size:(
    comun: normal,
    particular: bolder
);